form label{
	display: block;
}

form input,
form select,
form textarea{
	display: block;
	margin-bottom: 10px;
	padding: 8px 10px 5px;
}

form label input{
	display: inline-block;
}

form input[type="submit"]{
	background: #00478B;
	border: 2px solid #00478B;
    color: #fff;
    padding: 12px 30px 10px;
    text-transform: uppercase;
	margin-top: 20px;
	cursor: pointer;
}

form input[type="submit"]:hover{
	background: #fff;
	color: #00478B;
}

form input[type="submit"]:disabled{
	opacity: .5;
	cursor: not-allowed;
}